<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.tencenttv" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />
    <!-- WindowManger 权限(浮动窗口) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.open.tencenttv.TencentTVApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback" >

        <!-- 测试的主Activity android:theme="@style/AppTheme" -->
        <activity
            android:name="com.open.tencenttv.MainActivity"
            android:launchMode="singleTask" > <!-- android:screenOrientation="landscape" -->
        </activity>

        <!-- 测试DEMO Activity -->
        <activity android:name="com.open.tencenttv.DemoGridViewActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.DemoListViewActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.DemoKeyBoardActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.DemoViewPagerActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.DemoMenuActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.DemoRecyclerviewActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.DemoRecyclerviewLeanBackActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 横向布局 -->
        <activity
            android:name="com.open.tencenttv.DemoRecyclerviewActivity2"
            android:launchMode="singleTask" > <!-- android:screenOrientation="landscape" -->
        </activity>

        <!-- 腾讯视频主页 -->
        <activity
            android:name="com.open.tencenttv.TencentTVMainActivity"
            android:launchMode="singleTask" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity
            android:name="com.open.tencenttv.TVMainActivity"
            android:launchMode="singleTask" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 频道 -->
        <activity
            android:name="com.open.tencenttv.PinDaoActivity"
            android:launchMode="singleTask" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 频道 使用ListFragment -->
        <activity
            android:name="com.open.tencenttv.ListFragmentPinDaoActivity"
            android:launchMode="singleTask" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 频道 使用ViewPager -->
        <activity android:name="com.open.tencenttv.PinDaoViewPagerActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 视频预览 -->
        <activity android:name="com.open.tencenttv.VedioPreViewActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 观看历史记录 -->
        <activity android:name="com.open.tencenttv.LastHistoryActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 设置 -->
        <activity android:name="com.open.tencenttv.SettingsActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>

        <!-- 搜索 -->
        <activity android:name="com.open.tencenttv.SearchActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.SearchKeyBoardActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 分类内容 -->
        <activity android:name="com.open.tencenttv.MediumRecyclerviewLeanBackActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- viewpager视频大图滚动 -->
        <activity android:name="com.open.tencenttv.MediumViewPagerActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 使用竖向 ViewPager -->
        <activity android:name="com.open.tencenttv.MediumFragmentDirectionActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 播放排行 -->
        <activity android:name="com.open.tencenttv.ListFragmentRankActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <activity android:name="com.open.tencenttv.MediumTabHostViewPagerActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- webview播放视频 -->
        <activity android:name="com.open.tencenttv.TencentTVWebViewActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 按明星分类 -->
        <activity android:name="com.open.tencenttv.StarTabHostViewPagerActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>

        <!-- 腾讯视频搜索 -->
        <activity android:name="com.open.tencenttv.TencentTVSearchActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 腾讯视频搜索历史记录 -->
        <activity android:name="com.open.tencenttv.SearchHotActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>
        <!-- 用户中心 钱包、会员、观看历史 -->
        <activity android:name="com.open.tencenttv.ListFragmentUserActivity" > <!-- android:screenOrientation="landscape" -->
        </activity>

        <!-- 所有类列表 -->
        <activity
            android:name="com.open.tencenttv.TencentTVALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation" > <!-- android:screenOrientation="landscape" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>